/**
 *
 */

.flash_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
/* 	background: transparent; */
	opacity: 0;
	z-index: 10000;
}

.flash {
	position: absolute;
	display: none;
	opacity: 0;
	top: 170px;
	left:300px;
	width: 360px;
	height: 150px;
	background: #fff url(/templates/yweb/images/bg_gradient.jpg) 0 0 repeat-x;
	border: 2px solid #aaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 20px #000;
}
.flash .icon {
	float: left;
	margin: 30px 0 0 30px;
	width: 64px;
	height: 64px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.flash_type_notice .icon { background-image: url(/3rdParty/icons/large/documentinfo-64.png); }
.flash_type_confirmation .icon { background-image: url(/3rdParty/icons/large/agt_action_success-64.png); }
.flash_type_warning .icon { background-image: url(/3rdParty/icons/large/messagebox_warning-64.png); }
.flash_type_error .icon { background-image: url(/3rdParty/icons/large/messagebox_critical-64.png); }
.flash_type_question .icon { background-image: url(/3rdParty/icons/large/messagebox_warning-64.png); }

.flash ul {
	float: left;
	list-style: none;
	margin: 30px 0 0 30px;
}

.flash .buttons {
	clear: both;
	text-align: center;
	padding-top: 15px;
}