@charset "UTF-8";
/** 
 * @author Kalle Karlsson (kakar)
 * @version 0.4
 * @pageage Templates
 *
 * New Loginbox Stylesheet
 */

#login2 {
	border-left: 1px solid #323232;
	border-right: none;
	float: right;
	display: block;
}

#login2 a {
	border-right: 1px solid #323232;
	color: #ddd;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0px;
	background: transparent;
}
#login2 a:hover { color: #fff; }

#login2 a span {
	color: #888;
/* 	text-transform: lowercase; */
	text-transform: none;
	display: block;
	font-size: 90%;
}
#login2 a:hover span { color: #ccc; }

#login2 .login_help {
	position: absolute;
	top: 42px;
	right: 0;
	height: 0;
	z-index: 20;
}

#login2 .content_help { display: none; }

#login2 .content {
	right: 0;
	padding: 10px 15px;
	background: rgba(0,0,0,0.8);
	border: 1px solid #ccc;
	border-width: 0 2px 2px;
	color: #999;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.5);

}
#login2 input.text { 
	width:100px;
	padding: 3px 5px;
	border: 0;
	border-radius: 9px;
/* 	background: rgba(255,255,255,0.3); */
/* 	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,0.5); */
}

#login2 label {
	width: 70px;
	display: inline-block;
	color: #ddd;
}

#login2 .icon { float: left; width: 64px; }
#login2 .userimg { float: left; width: 64px;}
#login2 .info {
	float: left;
	margin: 5px 0 10px 10px;
	min-height: 64px;
	color: #fff;
}
#login2 .content h2 { color: #fff; font-size: 10pt; margin-bottom: 10px; }
#login2 .content span.type{ color: #ccc; margin-right: 5px; }
#login2 .content a {
	display: inline-block;
	color: #F87217;
	margin:6px 0 0;
	padding: 2px 5px;
	text-transform: none;
}
#login2 .content a:hover {
	text-decoration: none;
	background: #F87217;
	color: #fff;
}


.login_test {
	display: none;
	position: relative;
	padding: 10px 20px;
	width: 100%;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.4);

}

/* ----- FEEDBACK ----- */
.help_div {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 1000;
}
#btn_report {
	float: right;
	margin-top: 170px;
	height: 75px;
	width: 15px;
	padding: 15px 5px 5px 9px;
	background: #F87217;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	overflow: hidden;
	z-index: 100;
	-webkit-box-shadow: -4px 0px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 10px rgba(0,0,0,0.3);
	cursor: pointer;
}

#btn_report h1 {
	color: #fff;
	font-size: 9pt;
	font-weight: normal;
	margin-top: 58px;
	display: block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	/* IE fix */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.help_content {
	display: none;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	background-color: #ffb686;
	border: 4px solid #F87217;
	-webkit-box-shadow: -4px 0px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 10px rgba(0,0,0,0.3);
	z-index: 101;
}
.report_content {
	display: block;
	width: 200px;
	padding: 10px;
}
.report_content h2 {
	font-size: 12pt;
	margin-bottom: 10px;
	border-bottom: 1px solid #696969;
}
.report_content legend {display: none;}
.report_content label {font-weight: bold;}
.report_content fieldset {margin-bottom: 10px;}
.report_content input[type="text"], .report_content textarea {
	background-color: #fff;
	border: 0;
	padding: 2px;
}
.report_content .submit {margin-top: 5px;}

.help_content .disable {
    position: absolute;
    height: 100%;
    width: 220px;
    background: rgba(0,0,0,0.5);
    z-index: 200;
}

.disable h1 {
    color: #eee;
    margin: 200px 30px 20px;
    font-size: 20px;
    text-align: center;
}