/**
 * @author Kalle Karlsson (kakar)
 * @version 1.0
 * @pakage Content
 *
 * Styling of all searchrelated objects
 */
  
#globalsearch{
	float: right;
	position: relative;
/* 	margin: 11px 20px 0 0; */
	margin: -40px 0 0;
}

#globalsearch #gs-searchtext{
	position: relative;
	background: #fff;
	border: none;
	width: 107px;
	padding: 3px 23px 3px;
	margin: 0;
	font-size: 9pt;
	height: 1.2em;
	color: #323232;
	cursor: default;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	z-index: 0;
}

#globalsearch form label {
	position: absolute;
	top:3px;
	left: 4px;
	width: 16px;
	height: 13px;
	background: url('images/magnifer.gif') 0 0 no-repeat;
	z-index: 1;
}

#globalsearch #gs-action{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 11px;
	height: 11px;
}

#globalsearch .gs-clear{
	background: url('images/close.gif') 0 0 no-repeat;
}

#globalsearch .gs-loading{
	background: url('images/spinner.gif') 0 0 no-repeat;
}


/*------ Shortcuts ------*/
#gs-results{
	position: absolute;
	top: 25px;
	right: -20px;
	height: 0;
	z-index: 10;
}

#gs-results #inside{
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
}

.gs-result-arrow{
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 150px;
	width: 0;
	height: 0;
	vertical-align: top;
	border: 1px solid transparent;
	border-width: 0 10px 10px 10px;
	border-bottom-color: rgba(120,120,120,0.6);
}

ul.gs-results{
	position: absolute;
	top: 9px;
	right: 0;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	color: #fff;
	text-align: left;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul.gs-results li{
	position: relative;
	border: 0;	
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #444;
}

ul.gs-results li:first-child{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

/*
ul.gs-results li.selected{
	-webkit-box-shadow: inset 0 0 20px #fd0;
	-webkit-border-radius:5px;
}
*/
ul.gs-results li.selected{background: #fd0;}
ul.gs-results li.selected a{color: #323232;}

ul.gs-results li.resultCat{
	height: 8px;
	width: 280px;
	margin: 0;
	padding: 7px 10px 12px 10px;
	background: rgba(120,120,120,0.4);
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
}

ul.gs-results li.resultCat span.text{
	float: left;
}

ul.gs-results li.resultCat span.results{
	float: right;
	text-align: right;
	font-weight: normal;
}

ul.gs-results li a{
	display: block;
	background: none;
	margin: 0;
	padding: 3px 10px;
	width: 280px;
	cursor: default;
	color: #fff;
}

ul.gs-results li a:hover{
	background: none;
	color: #fff!important;
}

ul.gs-results li a div.pic{
	position: relative;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
}

ul.gs-results li a div.pic img{
/* 	position: absolute; */
	vertical-align: middle;
}

ul.gs-results li a span.text{
	position: absolute;
	left: 52px;
	top: 3px;
	display: block;
	color: inherit;
	text-transform: none;
}


ul.gs-results li a h2{
	font-size: 9pt;
/* 	line-height: 12px; */
}

ul.gs-results li.viewall{
	width: 275px;
	height: 20px;
	padding-right: 25px;
	padding-top: 8px;
	text-align: right;
	background: rgba(120,120,120,0.4) url('images/component_arrow.gif') 100% 10px no-repeat;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

ul.gs-results li.viewall a, ul.gs-results li.viewall a:hover{
	padding: 0;
	display: inline;
	font-size: 9pt;
	font-weight: bold;
	text-transform: none;
	color: #fff;
}
	

/*----- Fullsearch ------*/

#searchbar {
	position: relative;
	width: 650px;
	height: 20px;
	padding: 15px 30px;
	margin: 20px 0;
	background: #ddd;
}

#searchbar form.search{
	float: right;
	position: relative;
	width: 200px;
}

#searchbar #sb-searchtext{
	position: relative;
	background: #fff;
	border: none;
	width: 154px;
	padding: 3px 23px 3px;
	margin: 0;
	font-size: 9pt;
	height: 1.2em;
	color: #323232;
	cursor: default;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	z-index: 0;
}

#searchbar form label {
	position: absolute;
	top:3px;
	left: 4px;
	width: 16px;
	height: 13px;
	background: url('images/magnifer.gif') 0 0 no-repeat;
	z-index: 1;
}

#searchbar span.search-clear{
	display: none;
	position: absolute;
	top: 4px;
	right: 4px;
	width: 11px;
	height: 11px;
	background: url('images/close.gif') 0 0 no-repeat;
	z-index: 2; 
}

/*----- Search Tips -----*/
#search-tips{
	display: block;
	width: 180px;
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #ddd;
}

#search-tips h1 {
	color: #b1b1b1;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 5px 0px;
}

/*------- Results -------*/
#results-main{
	margin: 0;
}

#results-main #super-results{
	background-color: #f1f1f1;
	height: 30px;
	padding: 10px 20px;
	margin: -10px 0 10px 0;
}

/*----- Results Section -----*/
#results-main div.section{
	position: relative;
	width: 710px;
	margin-bottom: 10px;
}

#results-main div.section h2.label{
	position: relative;
	background: #999;
	color: #fff;
	height: 16px;
	padding: 5px 15px 5px 25px;
	display: block;
	font-size: 10pt;
}

#results-main div.section h2.label span.text{
	float: left;
}

#results-main div.section .label-icon{
	position: absolute;
	top: 5px;
	left: 5px;
	height: 16px;
	width: 16px;
	background: url('images/icon-white.png');
}

#results-main div.section .expanded{
	background-position: -64px -16px;
}

#results-main div.section .collapsed{
	background-position: -32px -16px;
}

#results-main div.section h2.label span.results{
	float: right;
	text-align: right;
	font-weight: normal;
}

/*----- Results Page -----*/
#results-main #results-pages{
	margin-bottom: 10px;
}

#results-main #results-pages li{
	display: block;
	border-bottom: 1px solid #ddd;
	margin: 5px 0;
	padding: 0 10px;
}

/*----- Results Event -----*/
#results-main #results-events{
	margin-bottom: 10px;
}

/*----- Results User -----*/
#results-main #user-list{
	margin-top: 10px;
}

#results-main #user-list li a, #results-main #user-list li a:hover{
	color: #323232;
	background: none;
}

#results-main #user-list span.info{
	display: inline-block;
	height: 54px;
	padding: 10px 0 0 5px;
	vertical-align: top;
}

/*----- Results File -----*/
#results-main #file-list{
	margin-top: 10px;
}

#results-main #file-list li{
	margin-bottom: 5px;
}

#results-main #file-list span.pic{
	display: inline-block;
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
}

#results-main #file-list span.pic img{
	vertical-align: middle;
}

#results-main #file-list span.name{
	position: relative;
	display: inline-block;
	padding: 10px 0 0 15px;
	vertical-align: top;
	font-weight: bold;
}

#results-main #file-list span.desc{
	position: absolute;
	top: 0;
	left: 80px;
}


#results-main #file-list a, #results-main #file-list a:hover{
	position: relative;
	background: none;
	color: inherit;
}

#preview{
	position:absolute;
	border:1px solid #ddd;
	background:#fff;
	padding:5px;
	display:none;
	color:#323232;
}
