
/*----- ADMIN MENU ------*/
.admin_menu fieldset {
	background: #fff!important;
	border: 0;
/* 	border-top: 3px solid #222; */
/* 	padding-top: 30px; */
	margin: 0!important;
	padding: 0!important;
}

.admin_menu legend {
	position: absolute;
	margin: -25px 0 0 -9px;
	font-size: 10pt;
	display: none;
}

.admin_menu ul {
	background: #fff;
}

.admin_menu .daddy, .admin_menu .daddy:hover {
	background: #222;
	color: #fff!important;
	padding: 2px 5px;
}

.admin_menu li a {
	padding: 2px 0;
}

.admin_menu li a:hover {
	background: #ffdd00;
}


/*-----admin MENU -----*/
.admin_menu .menu {
	margin-left: 0;
	padding: 0;
	width: 200px;
}
.admin_menu .menu a {
	display: block;
	color: #323232;
	font-size: 0.9em;
	text-decoration: none;
}
.admin_menu .menu a	:hover {
	background: #ffdd00;
}
.admin_menu .menu li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
/* 	border-bottom: 1px solid #ddd; */
}
.admin_menu .menu ul {
	padding: 0 0 0 1em;
}

.admin_menu .menu ul .activeli a, .admin_menu .menu ul .activeli a:hover{
	background: #ddd;
}


/*---- FIELDSETS ----*/
div.col fieldset {
	border: 0;
/* 	border-top: 3px solid #222; */
	margin: 2.5em 0em;
	padding: 0 10px;
	background: #eee;
	font-size: 8pt;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
div.col fieldset legend {
	position: absolute;
	margin: -1.8em 0 0 -2px;
	font-size: 10pt;
	font-weight: bold;
	color: #4b4b4b;	
}
div.col fieldset ol, div.col fieldset ul {
	padding: 0;
	margin: 0;
}




/*----- FLASH ----*/
/*#flashes {
	position: absolute;
	height: 100px;
	overflow: auto;
}
.flash {
	width: 50%;
	margin: 0 0 0 35%;
	background: #46e url(/templates/defadmin/images/wbggrad_50.png) 0 50%;
	border: 1px solid #555;
}
.flash li {
	background-repeat: no-repeat;
	background-image: url(/3rdParty/icons/large/documentinfo-32.png);
	list-style: none;
	padding: 0.6em 40px;
}
.flash ul {
	margin: 0;
}
.flash_type_warning {
	background-color: #e44;
}
.flash_type_warning li {
	background-image: url(/3rdParty/icons/large/agt_action_fail-32.png);
}
.flash_type_confirmation {
	background-color: #4a4;
}
.flash_type_confirmation li {
	background-image: url(/3rdParty/icons/large/agt_action_success-32.png);
}

.icon {
	padding: 0 2px;
	vertical-align: middle;
}
*/
ins {
	background: lightgreen;
}
del {
	background: pink;
}
.revlegend {
	text-align: right;
	display:inline;
	margin: 0 0 0 45px;
}
.revlegend ins, .revlegend del {
	margin: 0 5px;
}

.fixed-width {
	display: inline-block;
	width: 245px;
	margin-left: 5px;
}
.tools {
	display: inline-block;
	text-align: right;
	overflow-x: hidden;
	vertical-align: middle;
}
.tools img {
	padding: 0 3px;
	border: solid #ccc;
	border-width: 0 0 0 1px;
	position: relative;
	left: -3px;
}


/*------ FORMS -----*/
#content form {
	padding-top: 0.1em;
}
#content label {
	font-weight: bold;
	width: 150px;
	display: inline-block;
	margin-top: 4px;
}
#content input.submit {
	min-width: 100px;
	background: #545454;
	border: 0;
	font-size: 9pt;
	color: white;
	padding: 3px 6px;
	margin: 0 0 0 3px;
}
#content input.submit:hover {
	background: #ffdd00;
	color: #323232;
}
/*
#content div.submit {
	text-align: right;
}
*/

#content input.password, #content input.text, #content textarea, #content select, #content input.file {
	/*width: 300px;*/
	margin: 1px;
	background: #545454;
	border: none;
	padding: 3px 0 4px 5px;
	color: #fff;
}
input.password {
	border-style: dotted;
}
input.small {
	width: 50px;
	font-size: 0.8em;
	border:1px solid black;
	margin: 0 1px;
}
select {
	width: 305px;
}
input.medium, select.medium {
	width: 180px;
	font-size: 0.8em;
	border:1px solid black;
	margin: 0 1px;
} 

.evenform {
/* 	background: #fff; */
	border: solid #ddd;
	border-width: 1px 0;
}
.oddform, .evenform {
	padding: 5px 0;
}
.radioset img {
	width:100%;
	border:1px solid #ccc;
}

span.property {
	font-weight:bold;
	width:15%;
	display: inline-block;
}
span.value {
	width:50%;
	display:inline-block;
}
span.description {
	font-style: italic;
	margin:0 0 0 1em;
	display: inline-block;
	max-width: 220px;
	vertical-align: top;
}

/*------ LISTS ------*/
.set li {
	list-style: none;
}
.flul, .list {
	padding: 0;
	margin: 10px;
/* 	border: solid orange; */
	border-width: 0 1px 1px 0;
	list-style: none;
	font-size: 8pt;
}
.list {
	padding: 0;
	margin: 10px;
	list-style: none;
	background: #888;
	color: #fff;
}

.list li {
	padding: 1px 0;
}

.list ul {
	list-style: none;
	background: #fff;
	color: #323232;
	margin: 0;
	padding: 0 0 0 2em;
}

.flul ul, .flul ol {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
}
li.fletter {
	font-weight: bold;
}
li.fletter li {
	font-weight: normal;
}
.flul li.even,.list li.even, tr.even {
	background: #ddd;
	color: #323232;
}
.list .odd {
	background: #fff;
	color: #323232;
}

table.log {
	width: 100%;
}
span.author h3, span.from h3, span.recipients h3, span.subject h3 {
	display: inline;
}
span.author {
	width: 80px;
	display: inline-block;
}
span.from, span.recipients {
	width: 100px;
	display: inline-block;
}
span.subject {
	width: 200px;
	display: inline-block;
}

.urgent {
	background: pink;
}

/*----- MENUEDIT -----*/
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.menuedit {
	position: relative;
	overflow-x: hidden;
}
.menuedit ul {
/* 	margin: 1em 0 1em 1em; */
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
	font-size: 8pt;
}
.menuedit ul ul {
	padding: 0px 1.5em;
	margin: 0;
	width: 100%;
	background: #fff;
}
.menuedit li {
	list-style: none;
	margin: 0;
/* 	padding: 4px 2px 0 0; */
	padding: 0;
	border-color: #ddd;
	border-style: solid;
	border-width: 0px 0 0 2px;
}

.menuedit li.even {
	background: #fff;
}
.menuedit li.odd {
	background: #eee;
}
/*

.menuedit li:hover {
	background: #ffdd00!important;
}
*/

.menuedit .tools,.menuedit .tools2 {
	display: block;
	overflow-x: hidden;
	vertical-align: middle;
	position: absolute;
	left: 60%;
	margin: -19px 0;
}
.menuedit .tools  img,.menuedit .tools2 img {
	padding: 0 3px;
	border: solid #ccc;
	border-width: 0 0 0 1px;
	position:relative;
	left: -3px;
}

.menuedit .tools2 {
	left:80%;
}

.menuedit .menusection {
	color: red;
}
.menuedit .menusection ul {
	color: black;
}

/*----- FILETREE-----*/
.filetree li {
	padding-left: 5px;
}

.filetree .even {
	background: #ddd;
}

.filetree .directory {
/* 	background: #f87217; */
	background: #888;
}

.filetree .directory a {
	text-decoration:none;
	color:#fff;
}


.nav {
	background: #888;
/* 	border: solid orange; */
/* 	border-width: 1px 0; */
	margin: 0 0 5px 0;
}
.nav a {
	margin: 0 0 0 20px;
	padding: 3px;
	height: 100%;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

.nav a:hover {
	background: #ffdd00;
	color: #323232;
}

.nav img {
	padding-right: 3px;
}

/*----- LOG -----*/
table.log{
	font-size: 8pt;
}

/*----- FRONTPAGE EDITOR -----*/
#page { 
	width: 712px;
	min-height: 200px;
	border: 1px solid #222;
	padding: 10px 0;
	margin-top: 20px;
	overflow: hidden;
	float: right;
}
.row {
	display: inline-block;
	width: 100%;
	min-height: 30px;
/* 	height: 1%; */
	padding: 5px 0;
	margin-left: -1px;
	background: #f9f9f9;
	border: 1px dashed #ddd;
}

.col.module {
	border: 1px solid #999;
	background: #ddd;
	min-height: 30px;
	-webkit-border-radius: 4px;
	padding-bottom: 5px;
	margin-left: 8px;
}

.col.module:hover {
/* 	background: #ccc; */
}

.col.module h3 {
	padding-left: 10px;
	border-bottom: 1px solid #999;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);

}

.col.module.news h3 { background: #fd0; }
.col.module.calendar h3 { background: lightgreen; }
.col.module.rss h3 { background-color: #f9aa3a; }
.col.module.html h3 { background-color: #63b3ff; }
.col.module.image h3 { background-color: #cc66ff; }

#page .ui-sortable-placeholder { border: 1px dotted black!important; background: #999; visibility: visible !important; height: 30px !important; }
#page .ui-sortable-placeholder * { visibility: hidden; }

#page select {
	width: 90px;
	margin-left: 10px;
}

#page label {
	width: 80px;
	margin-left: 10px;
}

#page textarea {
	margin: 10px;
	width: 90%;
}

#page input {
	margin-left: 10px!important;
	width: 70px;
}

#page .icon {
	float: right;
	margin: 1px;
}