@charset "UTF-8";
/** 
 * @author Kalle Karlsson (kakar)
 * @version 0.1
 * @pageage Templates
 *
 * Button Stylesheet
 */

.c_button {
	display: inline-block;
/* 	height: 20px; */
	font-size: 12px;
	line-height: 16px;
	padding: 1px 3px 2px 3px;
	cursor: pointer;
	color: #5a523a;
	background-color: #F2E7CE;
	background-image: url(/templates/yweb/images/button/btn.gif);
	background-repeat: repeat-x;
	background-position: center left;
	border: 1px solid #e8d3a1;
	margin: 0px 2px 2px 0px;
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.c_button_grey { background-image: url(/templates/yweb/images/button/btn_dis.gif); color: #9c9279; }

.linkbutton_disabled, .disabled .c_button, .c_button_disabled {
	background-image: url(/templates/yweb/images/button/btn_dis.gif) !important;
	color: #9c9279 !important;
	cursor: default !important;
	border-color: #EBE5D7 !important;
}

.linkbutton {
	display: inline-block;
	min-width: 70px;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	padding: 3px 7px 4px 7px;
	color: #000 !important;
	margin: 0px 5px 0px 0px;
	white-space: nowrap;
	background-color: #F2E7CE;
	background-image: url(/templates/yweb/images/button/btn.gif);
	background-repeat: repeat-x;
	background-position: center left;
	border: 1px solid #e8d3a1;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
} 
.linkbutton_strong {
	display: inline-block;
	min-width: 70px;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	padding: 3px 7px 4px 7px;
	color: #000 !important;
	margin: 0px 5px 0px 0px;
	white-space: nowrap;
	background-color: #89d55c;
	background-image: url(/templates/yweb/images/button/btn_green.gif);
	background-repeat: repeat-x;
	background-position: center left;
	border: 1px solid #7dca50;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.linkbutton_yellow {
	display: inline-block;
	min-width: 70px;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	font-weight: normal;
	padding: 3px 7px 4px 7px;
	color: #000 !important;
	margin: 0px 5px 0px 0px;
	white-space: nowrap;
	background-color: #FFDC90;
	background-image: url(/templates/yweb/images/button/btn_form.gif);
	background-repeat: repeat-x;
	background-position: center left;
	border-style: solid;
	border-width: 1px;
	border-color: #DFA745;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.linkbutton *, .linkbutton_strong *, .linkbutton_yellow * { color: #000000 !important; }
.linkbutton:hover, .linkbutton_strong:hover, .linkbutton_yellow:hover { background-image: url(/templates/yweb/images/button/btn_form_hi.gif); }
.linkbutton:active, .linkbutton_strong:active, .linkbutton_yellow:active { background-image: url(/templates/yweb/images/button/btn_down.gif); }
.linkbutton_dark {
	display: inline-block;
	min-width: 70px;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	padding: 3px 7px 4px 7px;
	color: #fff !important;
	margin: 0px 5px 0px 0px;
	white-space: nowrap;
	background-color: #2c7ed2;
	background-image: url(/templates/yweb/images/button/btn_dark.gif);
	background-repeat: repeat-x;
	background-position: center left;
	border-style: solid;
	border-width: 1px;
	border-color: #2c7ed2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
} 
.linkbutton_dark * { color: #ffffff !important; }
.linkbutton_dark:hover { background-image: url(/templates/yweb/images/button/btn_dark_hi.gif); }
.linkbutton_dark:active { background-image: url(/templates/yweb/images/button/btn_dark_down.gif); }
.link_active {
	background: #FFDC90;
	background-image: url(/templates/yweb/images/button/btn_down.gif);
	color: #000000 !important;
	font-weight: bold !important;
	border-color: #EFBF59 !important;
}

a.btn_yes {
	color: #fff !important;
	background-color: #7bc74c;
	background-image: url(/templates/yweb/images/button/btn_yes.gif);
	border-color: #7bc74c;
	padding: 4px 9px 5px 31px;
} 
a.btn_yes:hover { background-image: url(/templates/yweb/images/button/btn_yes_hi.gif); } 
a.btn_yes:active { background-image: url(/templates/yweb/images/button/btn_yes_down.gif); } 
a.btn_yes_pressed {
	font-weight:bold;
	background-image: url(/templates/yweb/images/button/btn_yes_down.gif);
}
a.btn_no {
	color: #fff !important;
	background-color: #e64c25;
	background-image: url(/templates/yweb/images/button/btn_no.gif);
	border-color: #e64c25;
	padding: 4px 9px 5px 31px;
}
a.btn_no:hover { background-image: url(/templates/yweb/images/button/btn_no_hi.gif); }
a.btn_no:active { background-image: url(/templates/yweb/images/button/btn_no_down.gif); } 
a.btn_no_pressed { 
	font-weight:bold;
	background-image: url(/templates/yweb/images/button/btn_no_down.gif);
}